/*Nos usamos diferentes arquivos para diferentes paginas para uma melhor organizacao*/
main {
    display: flex;
    height: 100vh; /* -- Altura*/
    width: 100vw; /* -- Largura*/
}
.painel-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /*Como definimos anteriormente o Viewport Width nos usamos isso no "ITEM" filha para poder o
    painel de login apenas ocupar 50% do espaco*/
    height: 100%;
    background-color: white;
}

.card {
    width: 50%;
}

.card input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 12px;
}

.card button{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    background-color: #53c794;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.card a {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

.card h1{
    text-align: center;
    margin-bottom: 32px;
    color: gray;
    font-size: 36px;
}

input[type="email"] {
    color: red;/*Aqui nos colocamos que o texto em que o usuario digita fica em vermlhor*/
}

input[type="email"]::placeholder {
    color: green; /*Aqui nos estamos mudando a cor do placeholder para verde*/
}

.painel-imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*Obs: Todas as propriedaddes do display: flex devem estar justar na mesma classe*/
    width: 50%; /*Como definimos anteriormente o Viewport Width nos usamos isso no "ITEM" filha para poder o
    painel de imagem apenas ocupar 50% do espaco*/
    height: 100%;
    background-color: #53c794;
}
.painel-imagem img {
    width: 80%;
    height: 80%;
}

/*Como boa pratica os nosso projetos devem ter entre duas a tres fontes, sendo normalmente uma para
titulos e outra para textos.*/